@{
    ViewData["Title"] = "BooksForSale";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BooksForSale</h1>
    <p>One stop solution where buyers and sellers of books can get the best deals.</p>
</div>
