@{
    ViewData["Title"] = "Manage orders";
}

<div class="container">
    <div class="mt-4">
        <h5>@ViewData["Title"]</h5>
    </div>
    <table class="table table-bordered table-striped mt-8" id="tableOrders">
        <thead>
            <tr>
                <th>Order id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/ManageOrders.js"></script>
}