@{
    ViewData["Title"] = "Books";
}

<div class="container">
    <div class="row mt-4">
        <div class="col-6">
            <p class="display-6">List of books</p>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-info" asp-area="Admin" asp-controller="Book" asp-action="UpsertBook"><i class="bi bi-plus-circle"></i> Create new book</a>
        </div>
    </div>
    <table class="table table-bordered table-striped" id="tableBooks">
        <thead>
            <tr>
                <th>Book title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Category</th>
                <th>Cover type</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/Book.js"></script>
}
